

.logoutButton {
  background: rgba(220, 38, 38, 0.2);
  border: 1px solid rgba(220, 38, 38, 0.5);
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
  z-index: 1000;
  backdrop-filter: blur(10px);
  width: 100%;
  top: 10px;
  right: 10px;
  padding: 0px 16px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;

  position: sticky;
  top: 0;
  right: 0;
  
}

.logoutBtn {
  padding: 12px 0;
}

.useName {
  padding: 12px 0;
}